extends template

block stylesheet
  link(rel='stylesheet' href='/stylesheets/index.css')

block filebox
  .card.shadow.bg-light(ng-click='clickFile($event)'
    data-filename='{{ file.filename }}'
    data-originalname='{{ file.originalname }}'
    data-mimetype='{{ file.mimetype }}'
    data-size='{{ file.size }}'
    data-date='{{ file.date }}'
    data-toggle='modal'
    data-target='{{ file.progress < 100 ? "" : "#fileModal" }}')
    .card-body(ng-show='file.progress < 100')
      .card-text
        .progress
          .progress-bar(
            role='progressbar'
            style='width: {{ file.progress }}%'
            aria-valuenum='{{ file.progress }}'
            aria-valuemin='0'
            aria-valuemax='100')
    .card-footer {{ file.originalname }}

block content
  div#wrap(ng-controller='UpdownController' ng-dragover ng-files-drop='filesDrop($files)')
    .container
      #files.row
        .col-md-4.mb-3(ng-repeat='file in files')
          block filebox
      .text-center(ng-show='files.length == 0') can upload files by drag and drop them in this area
    #fileModal.modal.fade(tabindex='-1'
      role='dialog'
      aria-labelledby='fileModalLabel'
      aria-hidden='true'
      ng-show-bs-modal='inputFileData($data)'
      ng-hidden-bs-modal='deleteFileData()')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            #fileModalLabel.modal-title ファイル情報
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            .text-center()
              img(ng-if='isImage(modal.type)' ng-src='/files/{{ modal.filename }}')
              audio(ng-if='isAudio(modal.type)' ng-src='/files/{{ modal.filename }}' controls controlslist='nodownload')
              video(ng-if='isVideo(modal.type)' ng-src='/files/{{ modal.filename }}' controls controlslist='nodownload')
            .row
              .col-md-3 ファイル名
              .col-md-9 {{ modal.name }}
            .row
              .col-md-3 MIMEタイプ
              .col-md-9 {{ modal.type }}
            .row
              .col-md-3 サイズ
              .col-md-9 {{ modal.size }}
            .row
              .col-md-3 追加日時
              .col-md-9 {{ modal.date }}
          .modal-footer
            a.btn.btn-sm.btn-outline-primary(role='button'
              href='/download/{{ modal.filename }}') ダウンロード
            button.btn.btn-sm.btn-outline-danger(
              type='button'
              ng-click='deleteFile(modal.filename)'
              data-toggle='modal'
              data-target='#fileModal') 削除

block javascript
  script(src='/javascripts/index.js')
